# URL Stein API (dùng cho cả trình duyệt và server)
NEXT_PUBLIC_STEIN_API_URL=https://api.steinhq.com/v1/storages/6a0ddd4b92b1163e97f81310/sheet1
STEIN_API_URL=https://api.steinhq.com/v1/storages/6a0ddd4b92b1163e97f81310/sheet1
